.hero {
    font-size: 154%;
    display: flex;
    justify-content: center;
    min-height: 93vh;
    align-items: center;
}

.hero__text {
    width: 28%;
    font-size: 233%;
    margin-right: 8%;
}

