.hero {
    font-size: 154%;
    display: flex;
    justify-content: center;
    min-height: 93vh;
    align-items: center;
}

.hero__text {
    width: 28%;
    font-size: 233%;
    margin-right: 8%;
}

.hero-task {
    height: 400px;
    background: #f2f2f2;
    width: 400px;
    text-align: center;
    box-shadow: 10px 10px 0px black;
    transition: .4s;
}

.hero-task:hover {
    transform: translateX(-10px);
    box-shadow: 20px 20px 0px black;
}

.task-tasksListHome {
    background: #cdcdcd;
    height: 70%;
    display: grid;
    justify-items: center;
    align-items: center;
    
}

.tasksListHome-task {
    background: #f2f2f2;
    width: 91%;
    height: 61px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .4s;
}

.tasksListHome-task:hover{
    transform: translateX(30px);
    box-shadow: -5px 5px 0 #126b8f;
}

.tasksListHome-task__text {
    margin: 0;
    margin-left: 2%;
    color: #126b8f;
}